body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    margin-top: 5%;
    padding: 10% auto;
    text-align: center;
}
.book-cover {
    width: 200px;
    height: 300px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left-menu {
    float: left;
}

.right-menu {
    float: right;
}

li a {
    display: block;
    padding: 8px;
    background: lightskyblue;
}