<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="btn-group" role="group">-->
<!--    <button onclick="toItalic()" type="button" class="btn btn-secondary first-button">Italic</button><br/>-->
<!--    <button onclick="toBold()" type="button" class="btn btn-secondary other-button">Bold</button><br/>-->
<!--</div>-->
<!--<% for(Chapter chapter : chapterList) { %>-->
<!--<%-->
<!--int index = chapter.getIndex();-->
<!--String title = chapter.getTitle();-->
<!--String content = chapter.getContent();-->
<!--String id = "C" + index;-->
<!--%>-->
<!--<h3 id="<%=id%>"> <%= "Chapter " + index + " - " + title %></h3>-->
<!--<div id="<%="content" + index%>" class="chapter-content"><%=content%></div>-->
<!--<% } %>-->
</body>
</html>